@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
font-family: 'Poppins', sans-serif;
}

a {


  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.logo{
  height: 45px;
}

.f_logo{
  height: 60px;
}

p {
  margin-bottom: 0;
}